<h1>About</h1>


This is my first blog built. It has been challenging. 
Thankful i was able to make the necessary changes and debug as much as I could.
I almost gave up. I am glad I did not. Looking forward to other challenging projects to come. 
